@import './AttachMenu/AttachMenu';
@import './Chatbot/Chatbot';
@import './ChatbotAlert/ChatbotAlert';
@import './ChatbotContent/ChatbotContent';
@import './ChatbotConversationHistoryNav/ChatbotConversationHistoryNav';
@import './ChatbotFooter/ChatbotFooter';
@import './ChatbotHeader/ChatbotHeader';
@import './ChatbotModal/ChatbotModal';
@import './ChatbotPopover/ChatbotPopover';
@import './ChatbotToggle/ChatbotToggle';
@import './ChatbotWelcomePrompt/ChatbotWelcomePrompt';
@import './CodeModal/CodeModal';
@import './Compare/Compare';
@import './DeepThinking/DeepThinking';
@import './FileDetails/FileDetails';
@import './FileDetailsLabel/FileDetailsLabel';
@import './FileDropZone/FileDropZone';
@import './FilePreview/FilePreview.scss';
@import './Message/Message';
@import './Message/CodeBlockMessage/CodeBlockMessage';
@import './Message/ImageMessage/ImageMessage';
@import './Message/TextMessage/TextMessage';
@import './Message/ListMessage/ListMessage';
@import './Message/TableMessage/TableMessage';
@import './Message/MessageLoading';
@import './Message/QuickStarts/QuickStartTile';
@import './Message/QuickResponse/QuickResponse';
@import './Message/UserFeedback/UserFeedback';
@import './MessageBar/MessageBar';
@import './MessageBox/MessageBox';
@import './MessageDivider/MessageDivider';
@import './MessageBox/JumpButton';
@import './ResponseActions/ResponseActions';
@import './Settings/Settings';
@import './SourcesCard/SourcesCard.scss';
@import './SourceDetailsMenuItem/SourceDetailsMenuItem';
@import './TermsOfUse/TermsOfUse';
@import './ToolResponse/ToolResponse';

.ws-full-page-utils {
  left: 0 !important;
  right: auto !important;
}
