// ============================================================================
// Chatbot Content
// ============================================================================
.pf-chatbot__content {
  position: relative;
  background-color: var(--pf-t--global--background--color--secondary--default);
  overflow-y: auto;
  overflow: hidden; // needed in Red Hat Developer Hub workspace
  flex: 1; // needed in Composer AI

  // allows for zoom conditions; try zooming to 200% to see
  @media screen and (max-height: 518px) {
    overflow: unset;
  }

  &.pf-m-primary {
    background-color: var(--pf-t--global--background--color--primary--default); // TODO - what about this in glass?
  }
}

// ============================================================================
// Chatbot Display Mode - Fullscreen and Embedded
// ============================================================================
@media screen and (min-width: 64rem) {
  .pf-chatbot--drawer,
  .pf-chatbot--fullscreen,
  .pf-chatbot--embedded {
    .pf-chatbot__content {
      display: flex;
      justify-content: center;
    }
  }
}

// ============================================================================
// Chatbot glass theme
// ============================================================================
:where(.pf-v6-theme-glass) .pf-chatbot__content {
  background-color: transparent;
}
