// shared
.pf-chatbot__feedback-card {
  box-shadow: var(--pf-t--global--box-shadow--sm);
  // we want to override to 0 usually and assume the default border for high contrast support
  --pf-v6-c-card--BorderWidth: var(--pf-t--global--border--width--high-contrast--regular);
  max-width: 27.5rem; // fixme address mobile vs desktop
}

// complete card
.pf-chatbot__feedback-complete-body {
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--lg);
  align-items: center;
  text-align: center;
}
.pf-chatbot__feedback-complete-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--sm);
  --pf-v6-c-card--first-child--PaddingBlockStart: 0;
  --pf-v6-c-card__title--not--last-child--PaddingBlockEnd: 0;
}
.pf-chatbot__feedback-complete-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf-chatbot__feedback-complete-title {
  font-family: var(--pf-t--global--font--family--heading);
  font-size: var(--pf-t--global--font--size--lg);
  font-weight: var(--pf-t--global--font--weight--body--bold);
  line-height: var(--pf-t--global--font--line-height--heading);
}

// feedback card
.pf-chatbot__feedback-card-complete-header {
  .pf-v6-c-card__actions {
    --pf-v6-c-card__actions--MarginBlockEnd: calc(var(--pf-t--global--spacer--xl) * -1);
  }
}
.pf-chatbot__feedback-card-title {
  font-family: var(--pf-t--global--font--family--heading);
  font-size: var(--pf-t--global--font--size--md);
  font-weight: var(--pf-t--global--font--weight--body--bold);
  line-height: var(--pf-t--global--font--line-height--heading);
}

.pf-chatbot__feedback-card-form {
  --pf-v6-c-form__group--m-action--MarginBlockStart: 0 !important;
}

.pf-chatbot__feedback-card-optional {
  font-weight: initial;
}

// Privacy statement
.pf-chatbot__feedback-card-privacy {
  font-size: var(--pf-t--global--font--size--body--sm);
  font-weight: var(--pf-t--global--font--weight--body--default);
  line-height: var(--pf-t--global--font--line-height--body);
  color: var(--pf-t--global--text--color--subtle);
}

// Compact styles
.pf-v6-c-card.pf-m-compact.pf-chatbot__feedback-card {
  --pf-v6-c-card--first-child--PaddingBlockStart: var(--pf-t--global--spacer--md);
  --pf-v6-c-card--child--PaddingInlineEnd: var(--pf-t--global--spacer--md);
  --pf-v6-c-card--child--PaddingInlineStart: var(--pf-t--global--spacer--md);
  --pf-v6-c-card--last-child--PaddingBlockEnd: var(--pf-t--global--spacer--md);
  --pf-v6-c-card__title--not--last-child--PaddingBlockEnd: var(--pf-t--global--spacer--md);

  .pf-chatbot__feedback-card-form.pf-m-compact {
    --pf-v6-c-form--GridGap: var(--pf-t--global--spacer--sm);

    .pf-v6-c-form__group.pf-m-action {
      margin-block-start: var(--pf-t--global--spacer--sm);
    }

    .pf-v6-c-form-control {
      font-size: var(--pf-t--global--font--size--body--sm);
    }
  }
}

.pf-v6-c-card.pf-m-compact.pf-chatbot__feedback-card.pf-chatbot__feedback-card-complete {
  div.pf-chatbot__feedback-complete-body {
    gap: var(--pf-t--global--spacer--sm);
  }

  .pf-chatbot__feedback-complete-image {
    width: 40px;
  }

  .pf-chatbot__feedback-card-complete-empty-header {
    .pf-v6-c-card__header:first-child {
      --pf-v6-c-card--first-child--PaddingBlockStart: var(--pf-t--global--spacer--sm);
    }
  }
}
