// ============================================================================
// Toggle Chatbot
// ============================================================================
.pf-v6-c-button.pf-chatbot__button {
  position: fixed;
  inset-block-end: var(--pf-t--global--spacer--md);
  inset-inline-end: var(--pf-t--global--spacer--md);
  --pf-v6-c-button--m-plain--BackgroundColor: var(--pf-t--global--background--color--floating--default);
  --pf-v6-c-button--m-plain--hover--BackgroundColor: var(--pf-t--global--background--color--floating--hover);
  --pf-v6-c-button--m-plain--m-clicked--BackgroundColor: var(--pf-t--global--background--color--floating--clicked);
  --pf-v6-c-button--m-plain--BorderColor: var(--pf-t--global--border--color--default);
  --pf-v6-c-button--m-plain--hover--BorderColor: var(--pf-t--global--border--color--default);
  --pf-v6-c-button--m-plain--m-clicked--BorderColor: var(--pf-t--global--border--color--default);
  --pf-v6-c-button--m-plain--BorderWidth: 1px;
  --pf-v6-c-button--m-plain--hover--BorderWidth: 1px;
  --pf-v6-c-button--m-plain--m-clicked--BorderWidth: 1px;
  padding: var(--pf-t--global--spacer--md);
  box-shadow: var(--pf-t--global--box-shadow--sm);

  .pf-v6-c-button__icon {
    display: contents;
  }

  // Icon
  svg {
    width: var(--pf-t--global--spacer--lg);
    height: var(--pf-t--global--spacer--lg);
  }

  &--active {
    --pf-v6-c-button--m-plain--BackgroundColor: var(--pf-t--global--background--color--floating--clicked);
  }

  &--secondary {
    --pf-v6-c-button--m-plain--BackgroundColor: var(--pf-t--global--background--color--secondary--default);
    --pf-v6-c-button--m-plain--hover--BackgroundColor: var(--pf-t--global--background--color--secondary--hover);
    --pf-v6-c-button--m-plain--m-clicked--BackgroundColor: var(--pf-t--global--background--color--secondary--clicked);

    &.pf-chatbot__button--active {
      --pf-v6-c-button--m-plain--BackgroundColor: var(--pf-t--global--background--color--secondary--clicked);
    }
  }
}

.pf-chatbot__button--round {
  border-radius: var(--pf-t--global--border--radius--pill);
  width: 3rem;
  height: 3rem;
}
