.pf-chatbot__tool-response {
  --pf-v6-c-card--BorderColor: var(--pf-t--global--border--color--default);
  overflow: unset;
}

.pf-chatbot__tool-response-expandable-section {
  --pf-v6-c-expandable-section--Gap: var(--pf-t--global--spacer--xs);

  // .pf-m-markdown {
  //   font-size: inherit;
  //   color: inherit;
  // }
}

.pf-chatbot__tool-response-section {
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--xs);
}

.pf-chatbot__tool-response-subheading {
  font-size: var(--pf-t--global--font--size--body--sm);
  font-weight: var(--pf-t--global--font--weight--body--default);
  color: var(--pf-t--global--text--color--subtle);

  // .pf-m-markdown {
  //   font-size: var(--pf-t--global--font--size--body--sm);
  // }
}

.pf-chatbot__tool-response-body {
  color: var(--pf-t--global--text--color--subtle);
  margin-block-end: var(--pf-t--global--spacer--xs);

  // .pf-m-markdown {
  //   font-size: inherit;
  // }
}

.pf-chatbot__tool-response-card {
  --pf-v6-c-card--BorderColor: var(--pf-t--global--border--color--default);
  --pf-v6-c-card--first-child--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --pf-v6-c-card__title--not--last-child--PaddingBlockEnd: var(--pf-t--global--spacer--sm);
  --pf-v6-c-card--c-divider--child--PaddingBlockStart: var(--pf-t--global--spacer--sm);

  .pf-v6-c-divider {
    --pf-v6-c-divider--Color: var(--pf-t--global--border--color--default);
  }

  // .pf-m-markdown {
  //   font-size: inherit;
  // }
}
