// ============================================================================
// Chatbot Main - Message Divider
// ============================================================================
.pf-chatbot__message-divider {
  padding: var(--pf-t--global--spacer--md) 0;
}

.pf-chatbot__message-divider-content {
  display: flex;
  min-height: 24px;
  height: 100%;
  padding: 0px var(--pf-t--global--spacer--md);
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--pf-t--global--border--radius--pill);
  background: var(--pf-t--global--background--color--tertiary--default);
}

.pf-chatbot__message-divider-text {
  color: var(--pf-t--global--text--color--regular);
  text-align: center;
  font-size: var(--pf-t--global--font--size--body--sm);
  font-style: normal;
  font-weight: var(--pf-t--global--font--weight--body--bold);
}

// Date variant
.pf-chatbot__message-divider--date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  &::before, &::after  {
    content: "";
    flex-grow: 1;
    height: var(--pf-t--global--border--width--divider--default);
    background-color: var(--pf-t--global--border--color--default);
  }

  .pf-chatbot__message-divider-content {
    border: 1px solid  var(--pf-t--global--border--color--default);
    max-width: 75%
  }
}

// Announcement variant
.pf-chatbot__message-divider--announcement .pf-chatbot__message-divider-content {
  width: 100%;
}