// ============================================================================
// Chatbot Footer - Message Bar - Stop
// ============================================================================
.pf-v6-c-button.pf-chatbot__message-bar-button.pf-chatbot__button--stop {
  background-color: var(--pf-t--global--color--brand--default);
  color: var(--pf-t--global--icon--color--on-brand--default);

  &:hover {
    background-color: var(--pf-t--global--color--brand--hover);
  }

  &:focus {
    background-color: var(--pf-t--global--color--brand--clicked);
    color: var(--pf-t--global--icon--color--on-brand--default);

    &:hover,
    &:focus {
      color: var(--pf-t--global--icon--color--on-brand--default);
    }
  }
}
